name: Docs build

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
      - main
  workflow_dispatch:

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install conda dependencies
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: '3.10'
          environment-file: conda_config.yml
          channel-priority: true
      - name: Install pip dependencies
        shell: bash -el {0}  # this is necessary to activate the conda env
        run: |
          pip install ".[docs]"
      - name: Build docs
        shell: bash -el {0}
        run: |
          cd docs/
          make html
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/html

  # Deploy the artifact to GitHub pages.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
